.App {
  text-align: center;
  background-color: #efe2ba;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
}

.App-header {
  font-family: 'Times New Roman', Times, serif;
  font-size: 90px;
}

.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.widget-container {
  width: 33%;
  color: black;
  font-family: 'Ariel', sans-serif;
  font-size: 70px;
}

#weather-img {
  margin: 50px;
  width: 50%;
}

#mood-img {
  box-shadow: inset 0px 0px 10px 20px white;
  margin: 40px;
  width: 70%;
  opacity:0.8;
}


#clock{
  color: black;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 90px;
}