.App {
  text-align: center;
  background-color: #efe2ba;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.evening-theme {
  text-align: center;
  background-image: url(https://live.staticflickr.com/8183/8403559985_3f22bb5e5b_b.jpg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
}

.night-theme {
  text-align: center;
  background-image: url(https://freerangestock.com/sample/52190/stars-background-shows-night-time-and-midnight.jpg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
}

.morning-theme {
  text-align: center;
  background-color: #1a1815;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
}

.afternoon-theme {
  text-align: center;
  background-color: #1a1815;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
}

.App-header {
  font-family: 'Times New Roman', Times, serif;
  font-size: 90px;
}

.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.widget-container {
  width: 33%;
  color: black;
  font-family: 'Ariel', sans-serif;
  font-size: 70px;
  align-self: center;
}

#weather-img {
  margin: 50px;
  width: 50%;
}

#clock{
  color: black;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 90px;
}